/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu5mxKKTU1Kvnz.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

body
{
    padding: 3px 0 3px 3px;
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
}


.trim
{
    margin: 2px;
}


.tabheader2 th
{
    margin: 0px;
}
.tabheader2 th
{
    width:205px;
    height: 26px;
    background-color:  var(--color2);
}

.tab2
{
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-top: 3px;
    font-weight: 400;
    color2:white;
    color: var(--color3);

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid var(--color0);

    background2: linear-gradient(270deg, #3D4C61 0%, #445368 100%);

}

.tabheader2
{
    margin: 0 2px 0 0;
}

.layer
{
    margin: 3px;
    margin-top: -3px;
    border: 1px solid var(--color0);
    border-top:0;
    padding: 1px;
    background-color:  var(--color22);

    height: calc(100vh - 108px - 20px);

}
.layer2
{
    padding: 10px 10px 10px 10px;
    height: calc(100vh - 126px - 20px);
}

.ace
{
    position: relative;
    width: 100%;
    height: calc(100vh - 108px - 20px);

    margin-top: 0px;
    display: none;
    font-size: 13px;
}



.ace_gutter-cell.ace_breakpoint
{
    background: url("./PIC/check.svg") no-repeat;
    background-repeat: no-repeat;
    background-position: 0px center;
}

.current2
{
    background-color2:  var(--color22);
    background:  var(--color1);

    border-bottom:0;
}

.link
{
    text-decoration: underline;
    cursor: pointer;
    color:blue;
}
.btool
{
    padding: 3px;
    margin: 1px;
    width: 40px;
    border-radius: 3px;
}

#idPreview
{
    width: 330px;
    height: 568px;
    margin: 0;
    padding: 0;
}


#idFrame
{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 1px solid #9b8f20;
    background: white;
}
#idPreview.size320x568
{
    width: 320px;
    height: 568px;
}
#idPreview.size330x568
{
    width: 330px;
    height: 568px;
}
#idPreview.size360x640
{
    width: 360px;
    height: 640px;
}
#idPreview.size375x812
{
    width: 375px;
    height: 812px;
}
#idPreview.size768x1024
{
    width: 768px;
    height: 1024px;
}
#idPreview.size1024x800
{
    width: 1024px;
    height: 800px;
}



.tab1
{
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 0;
    padding-top: 3px;
    margin-right: -2px;
    height: 24px;
    width:70px;
    text-align: center;
    background:  var(--color22);
    color:  var(--color3);
    border: 1px solid var(--color0);
}
.current1
{
    background:  var(--color1);
    border-bottom:0;
    border: 1px solid var(--color0);
    color: #ffc758;
}

.info-syntax
{
    position: absolute;
    right: 12px;
    margin-top: -26px;
    margin-right: 10px;
    padding: 3px;
    background-color: var(--color22);
    opacity:0.9;
}


#idRefresh
{
    width: 20px;
    height:22px;
    background-image: url('../PIC/reload.svg');
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
    background-color: var(--color21);
    border: 1px solid var(--color1);

}

body.univers .Disabled
{
    background-color: #8e8e8e;
}


input,select
{
    min-height: 20px;
    line-height:20px;
}

.radius
{
    border-radius: 4px;
}
.t-holder
{
    margin-top: 5px;
    margin-bottom: 15px;
    width: 230px;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--color2);
}
.marginbottom0
{
    margin-bottom: 0px;
}

/*main tab*/
.tmain-holder
{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 200px;
    height: 20px;
    padding-top: 3px;
    padding-bottom: 7px;
    background-color: var(--color2);
    color2:var(--color3);
}



#idStatus
{
    position: absolute;
    top:5px;
    left: 300px;
    width: 80%;
    max-width: 650px;
    height: 20px;
    border2: 1px solid red;
    text-align: left;
    color:var(--color3);
}

.btfile
{
    padding: 5px;
}
body.univers .bt[disabled]
{
    background: var(--color22);
    color: #b8b8b8;
}
body.univers .bt:hover[disabled]
{
    filter: none;
    cursor: auto;
}


.hidden
{
    display: none;
}


.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;

    align-items: flex-start;
    justify-content: flex-start;


}

.row-send {
    margin: 4px 2px;
    line-height:24px;
}

.resizable {
    resize: horizontal;
    overflow: auto;
    border: 1px solid black;
}

.page_property {
    float: left;
    width: 85%;
    height:100%;
}

.t-holder2
{
    height: 260px;
}

.dsmall
{
    width: 30px;
    margin-left: 2px;
    margin-right: 2px;
}

.dsmall2
{
    width: 40px;
}
#idTokenID
{
    width: 90px;
}
#idSendDesc
{
    width: 93%;
    margin: 5px;
}
.bsend
{
    height: 20px;
    width: 96%;
    margin: 5px;
}



#idServerLog
{
    width: 99%;
    background-color: var(--color2);
}
.focusnowrite:focus
{
    font-style: italic;
}

textarea, select
{
    overflow-y: hidden;
}
textarea:hover, select:hover
{
    overflow-y: auto;
}


.smart-menu
{
    width: 232px;
    height: 36px;
    margin: 5px 10px;
    border-radius: 4px;
    min-height: 14px;

    color:white;
    background-color: #566884;
    border-color: #445368;
}

.smart-menu:hover
{
    color: #cb763a;
    cursor: pointer;
}
.smart-load
{
    width: 120px;
    height:28px;
    background-color: #7796af;
    border-color: #576b83;
}


#idCheckShortName,#idCheckCentName
{
    display: none;
    color: #a60f0e;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 22px;
}

.move_control
{
    position: relative;
}
.move_holder
{
    position: absolute;
    top:140px;
    right:20px;

    display: flex;
    flex-direction: column;
}

.move_bt
{
    width: 32px;
    height: 32px;
    color: transparent;
    border: transparent;
    background: transparent;
    font-size: 12px;
}
.move_control:hover .move_bt
{
    color: black;
    background: rgba(179, 179, 179, 0.14);
    border: 1px solid rgba(100, 100, 100, 0.14);
}
.move_control:hover .move_bt:hover
{
    color: orange;
}
