/*NFT*/
grid_nft
{
    display: grid;
    min-width: 360px;
    max-height: 70vh;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    grid-gap: 5px;

    overflow:auto;

    resize: both;
    padding: 5px;
}



item_nft
{
    text-align: center;
    padding: 2px;
    margin: 5px auto;
    width: 120px;
    height: 120px;

    font-size: 10px;
    line-height: 12px;

    color: black;
    background-color: #f2f3f5;
    box-shadow: 0 0 5px rgb(0 0 0);
    border-radius: 5px;
}

@media (max-width: 445px)
{
    grid_nft
    {
        max-height: 260px;
        min-width: 0;
        resize: none;
    }
}


item_nft:hover
{
    color: #cb763a;
    cursor: pointer;
}
.selected
{
    border: 2px orange solid;
}
item_nft img
{
    width: 76px;
    height: 76px;
    margin-top: 0px;
}


item_nft b
{
    font-size: 12px;
}
item_nft .tokenname
{
    font-size: 12px;
}


.grid_nft_send
{
    resize: none;
    width: 100%;

}

