.ModalDlg
{
    position: fixed;
    z-index: 5000;
    display: none;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #727473;
    box-shadow: 0px 8px 10px rgba(68, 83, 104, 0.15);
    color: #000;
    padding: 20px;
    margin: 0 auto;
    width: 90%;
    top: 100px;
    left: 50%;
    max-width: 250px;
}

.t_choos_coin
{
    color: #87bdff;
}

.set_all_sum:hover
{
    color: #cb763a;
    cursor: pointer;
}



.page__container
{
    border-radius: 5px;
    border: 1px solid #727473;
    box-shadow: 0px 8px 10px rgba(68, 83, 104, 0.15);
    min-width: 300px;
    min-height: 200px;
    padding: 1px;
    margin: 0 auto;
}


#idShowPage
{
    z-index: 10000;
    width: 99vw;
    /*max-width: 600px;*/
    min-width: 340px;

}


#idShowPage iframe
{
    width: 100%;
    height: 80vh;
    /*max-height: 600px;*/
    margin: 0;
    padding: 0;
}




.bt_set
{
    font-size: 12px;
    width: 40px;
    height: 20px;
    border: 0;
    border-radius: 5px;

    padding: 0;
    margin: 0 0 5px 15px;

    line-height: 20px;
    color: var(--colorText);
    background-color: var(--colorButton);
}

button:hover
{
    cursor: pointer;
    color: orange;
}

